/*
-- @Fabrizio Del Tufo
*/


body, html{
  font-family: 'Heebo', sans-serif;
  background-color: #ccc;
  color: #000;
}

/* portfolio section */
.portfolio{width: 100%; height: auto; padding: 20px; margin: 0px auto; text-align: left;}
.portfolio h1{font-size: 50px; border-bottom: 1px solid #fff; margin: 0; }
.portfolio h2{font-size: 25px ;  }
.portfolio h3{font-size: 20px; padding-bottom:20px; font-weight: lighter; border-bottom: 1px solid #fff; margin: 0;}
.portfolio h4{font-size: 18px; padding-top:10px; }
.portfolio p{font-style: 15px;}
.portfolio a{text-decoration: none; color: #fffa00;font-weight: normal; font-size: 20px}

/* portfolio card */
.portfolio-card{display: flex; flex-wrap: wrap; justify-content: space-around; max-width:1300px ; padding:20px; margin: 40px auto; text-align:center;  border: 1px solid #fff; border-radius: 5px; background: rgba(0, 0, 0, 0.2);}
.portfolio-image{flex-basis: 45%; padding:0px; margin: 0px; }
.portfolio-title{flex-basis:45%; padding:10px; margin:0px; text-align: left;}
.portfolio-title h2{font-size: 25px ; border-bottom: 1px solid #fff }
.portfolio-title h3{border-bottom: 0px solid #fff;}

/* footer */
.footer{text-align: center; background-color: #fff; padding: 10px;}




/*  ----------------------------------------------- */
/*   ! tablet  */
/*  ----------------------------------------------- */
@media(max-width: 1024px ) {

/* portfolio */

/* portfolio section */
.portfolio{width: 90%; height: auto; padding: 20px; margin: 0px auto; text-align: left;}
.portfolio h1{font-size: 30px; padding-bottom: 10px ; border-bottom: 1px solid #fff; margin: 0; }
.portfolio h2{font-size: 20px ; padding-bottom: 10px }
.portfolio h3{font-size: 16px; padding-bottom:20px; font-weight: normal; border-bottom: 1px solid #fff; margin: 0;}





/* portfolio card */
.portfolio-card{display: flex; flex-wrap: wrap; justify-content: space-around; padding:10px; margin: 40px auto; text-align:center;  border: 1px solid #fff; border-radius: 5px; }

.portfolio-image{flex-basis:100%; padding:0px; margin:0px; }
.portfolio-image .img-resp{width: 100%; height: auto;}

.portfolio-title{flex-basis:100%; padding:10px; margin:0px; text-align: left;}
.portfolio-title h2{font-size: 25px ; margin: 0}
.portfolio-title h3{font-size: 18px; padding-top:10px; font-weight: normal; border-bottom: 0px solid #fff;}
.portfolio-title h4{font-size: 18px; padding-top:10px ; }
.portfolio-title p{font-style: 15px;}
.portfolio-title > a{color: #fffa00; font-size: 15px}


}



/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

/* @media(max-width: 768px ) { */
  @media(max-width: 800px ) {



}



/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 667px ) {




}


/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 487px ) {



}



/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 400px ) {



}

/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 388px ) {



}




/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 347px ) {



}







/* ! Clearfix */
.clearfix{ overflow: auto; }

/* ! Box Sizing  */

*,
*:before,
*:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;

}
