/*
-- @Fabrizio Del Tufo
*/


body,
html {
  max-width: 1400px;
  margin: 0 auto;
  /* font-family: 'Heebo', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Oxygen', sans-serif; */
  background-color: #fff;
  color: #000;
}

img {
  border-radius: 5px !important;
}

.line {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}


#header {
  margin-bottom: 50px
}

/* portfolio section */
.portfolio {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0px auto;
  text-align: left;
}

.portfolio h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
}

.portfolio h2 {
  font-size: 25px;
  margin: 0
}

.portfolio h3 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: normal;
  margin: 0;
}

.portfolio h4 {
  font-size: 18px;
  padding-top: 10px;
}

.portfolio p {
  font-size: 18px;
}

.portfolio a {
  color: #ff8e3c;
  font-weight: bold;
  font-size: 20px
}


/* portfolio card */
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  color: white;
  background: #232946;
  border: 1px solid #2a2a2a;
}

.portfolio-title {
  flex-basis: 45%;
  padding: 10px;
  margin: 0px;
  text-align: left;
}

.portfolio-title h2 {
  font-size: 25px;
  border-bottom: 1px solid #fff
}

.portfolio-title a {
  color: #ff8e3c;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.2;
}

.portfolio-image {
  flex-basis: 50%;
  padding: 0px;
  margin: 0px;
}


/* footer */
.footer {
  width: 100%;
  text-align: center;
  color: #000;
  padding: 20px;
}

.socials {
  padding-top: 10px
}

.socials a {
  color: #000;
  padding: 5px
}


/*  ----------------------------------------------- */
/*   ! Hybrid  */
/*  ----------------------------------------------- */
@media(max-width: 1121px) {

  .portfolio-title {
    flex-basis: 55%;
  }

  .portfolio-image {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}



/*  ----------------------------------------------- */
/*   ! tablet  */
/*  ----------------------------------------------- */
@media(max-width: 1024px) {

  /* portfolio */

  /* portfolio section */
  .portfolio {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 0px auto;
    text-align: left;
  }

  .portfolio h1 {
    font-size: 30px;
    padding-bottom: 10px;
    margin: 0;
  }

  .portfolio h2 {
    font-size: 20px;
    padding-bottom: 10px
  }

  .portfolio h3 {
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: normal;
    margin: 0;
  }

  /* portfolio card */
  .portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .portfolio-image {
    flex-basis: 100%;
    padding: 0px;
    margin: 0px;
  }

  .portfolio-image .img-resp {
    width: 100%;
    height: auto;
  }

  .portfolio-title {
    flex-basis: 100%;
    padding: 10px;
    margin: 0px;
    text-align: left;
  }

  .portfolio-title h2 {
    font-size: 25px;
    margin: 0
  }

  .portfolio-title h3 {
    font-size: 18px;
    padding-top: 10px;
    font-weight: normal;
    border-bottom: 0px solid #fff;
  }

  .portfolio-title h4 {
    font-size: 18px;
    padding-top: 10px;
  }

  .portfolio-title p {
    font-size: 15px;
  }

  .portfolio-title a {
    /* color: #fff; */
    font-weight: lighter;
    font-size: 18px
  }


  /* footer */
  .footer {
    text-align: center;
    padding: 10px;
    font-size: 12px
  }


}



/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

/* @media(max-width: 768px ) { */
@media(max-width: 969px) {

  .portfolio h1 {
    font-size: 26px;
    padding-bottom: 10px;
    margin: 0;
  }

  .portfolio h2 {
    font-size: 18px;
    padding-bottom: 10px
  }

  #description p {
    margin-bottom: 10px;
  }

}



/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 667px) {


  .portfolio-image {
    flex-basis: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 30px
  }

  .img-resp {
    width: 100%;
    height: auto;
  }


}


/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 487px) {}



/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 400px) {}

/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 388px) {}




/*  ----------------------------------------------- */
/*   ! Smartphone  */
/*  ----------------------------------------------- */

@media(max-width: 347px) {}







/* ! Clearfix */
.clearfix {
  overflow: auto;
}

/* ! Box Sizing  */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}